.projects-page {
    display: flex;
    overflow-y: scroll;

    .text-zone {
        .heading {
            h1 {
                font-size: 500%;
                font-family: 'Coolvetica';
                color: #fff;
                font-weight: 400;
                position: relative;
                text-align: center;
            }
            h1::before {
                content: '<h1>';
                top: 40%;
                margin-left: -50px;
                font-family: 'La Belle Aurore';
                font-size: 25px;
                position: absolute;
                opacity: 0.6;
            }
            h1::after {
                content: '</h1>';
                top: 40%;
                font-family: 'La Belle Aurore';
                font-size: 25px;
                position: absolute;
                opacity: 0.6;
            }
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .project {
            flex-direction: column;
            text-align: center;
            animation: pulse 1s;
            animation-delay: 1.4s;
            width: 33%;
            img {
                border: 5px solid #f5a6b3;
                width: 60%;
            }
            h3 {
                font-family: Georgia;
                text-align: center;
                font-size: 225%;
                color: white;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #f3aca6;
        }
    }
}

@media (max-width: 800px) {
    .projects-page {
        .text-zone {
            width: 100%;
            .heading {
                h1 { font-size: 400%; }
                h1::before {
                    top: 35%;
                    margin-left: -45px;
                    font-size: 25px;
                }
                h1::after {
                    top: 35%;
                    font-size: 25px;
                }
            }
            .row {
                flex-direction: row;
                .project {
                    width: 75%;
                    img { width: 80%; }
                    h3 { font-size: 3vw; }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .projects-page {
        .text-zone {
            width: 100%;
            .heading {
                padding: 0px 5%;
                h1 { font-size: 300%; }
                h1::before {
                    top: 40%;
                    margin-left: -28px;
                    font-size: 15px;
                }
                h1::after {
                    top: 40%;
                    margin-left: 21px;
                    font-size: 15px;
                }
            }
            .row {
                display: flex;
                flex-direction: column;
                .project {
                    width: 75%;
                    img { width: 100%; }
                    h3 {
                        font-size: 250%;
                        color: #fff;
                    }
                }
            }
        }
    }
}
